<section id="main-content">
    <div class="left-content">
        <a href="#" class="express-text">Express</a>
        <a class="express-version">4.15.4</a> <br/>
        <span class="description">
            Framework web rápido, flexível e  minimalista para
            <a target="_blank" href="https://nodejs.org/en/">Node.js</a>
        </span>

        <blockquote>
            $ npm install express --save
        </blockquote>
    </div>

    <div class="video">
        <iframe src="https://www.youtube.com/embed/HxGt_3F0ULg" frameborder="0" allowfullscreen></iframe>
    </div>
</section>