/*###############Section main-content ###############*/
#main-content {
    width: 80%;
    margin: 20 170 30 70;
    max-width: 900%;
    display: flex;
}

#main-content .left-content {
    display: block;
    font: 4.0em "Helvetica Neue","Open Sans",sans-serif;
    margin-bottom: .25em;
    font-weight: 100;
    width:50%;
    margin-right: 50px;
}

#main-content .left-content .express-version {
  font-size: 0.2em;
  margin-left: 0.5em;
  color: #259dff!important;
  font-weight: 400;
}
#main-content .left-content .express-text {
  color: #353535;
}

.description {
  position: relative;
  top: 7px;
  font: 100 .9em "Helvetica Neue","Open Sans",sans-serif;
  color: #aeaeae;
  line-height: 1.0;
}

#main-content span a {
  color: #259dff;
}

#main-content .left-content blockquote {
  margin: 0;
  font-size: 14px;
  font-family: Consolas,Monaco,"Andale Mono",monospace;
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 0.4em;
  border: 1px solid #eee;
  margin-top: 65px;
  max-width: 70%;
}

#frameworks a{
  color: #25A9FE;
}

/*######## Vídeo #######*/
#main-content .video {
  width: 50%;
  padding: 25px 0px 0px 0px;
}

#main-content .video iframe {
  min-width: 100%;
  min-height: 273px;
}


/*########## Features ######## */
#features{
  /*width: 1215px;*/
margin: 40 170 30 70;
max-width: 900%;
height: 300px;
/* padding-right: 5%; */
/*display: flex;*/
}
#features > form {
  padding-left: 18px;
}
#features form input {
  width: 20%;
  margin-bottom: 5px;
}
.boxes {
  width: 100%;
}
.boxes div {
  width: 20%;
  margin-right: 50px;
  float: left;
}
.boxes div h2 {
  font-weight: 400;
  font-size: 30px;
  color: #353535;
  margin: 5px 20px;

}
.boxes div p {
  font-size: 15px;
  margin: 5 20;
  color: #555;
}

#ctrl-panel {
  display: flex;
  padding-top: 80px;
  padding-left: 72px;
  flex-direction: column;
  align-items: flex-start;
}
#ctrl-panel-noflex {
  display: block;
  padding-top: 80px;
  padding-left: 75px;
  flex-direction: column;
  align-items: flex-start;
}

#ctrl-panel .button, #ctrl-panel-noflex .button{
  font-size: 16px;
  color: #555;
  margin-right: 10px;
}
#ctrl-panel-noflex span{
  font-size: 15px;
}

#ctrl-panel-noflex .blue-register{
  color: #259dff!important;
  padding-left: 2px;
}

#ctrl-panel .logout{
  text-decoration: none;
  font-size: 40px;
  color: #555;  
}

@media screen and (max-width:1000px) {
  .description {
    width: 100%;
    font-size: 34px;
  }
  #main-content {
    width: 100%;
    margin: 10 0% 0 0%;
    padding-right:0;
    display: block;
  }
  .boxes div {
    width: 100%;
    margin-right: 50px;
  }
  #main-content .video {
    width: 100%;
  }
  #main-content .left-content{
    width: 100%;
  }

  #features {
    margin: 30 auto;
    max-width: 900%;
    padding: 0 0%;
    display: flex;
  }

  #main-content .left-content blockquote, .express-text, .express-version {
    display: none;
  }

  #ctrl-panel {
  background-image: url(../img/bg.jpg);
  display: flex;
  justify-content: flex-end;
  padding-top: 62px;
  } 

  #ctrl-panel .button{
    text-decoration: none;
    font-size: 40px;
    color: #555;
    margin: 0 30;
  }

  #ctrl-panel .logout{
    text-decoration: none;
    font-size: 40px;
    color: #555;  
  }
}